# Dépendances
node_modules/
/.pnp
.pnp.js

# Fichiers de build sauf ceux du dossier public de backend
/frontend/build
/backend-ts/dist

# Ne pas ignorer les fichiers frontend précompilés
!/backend-ts/public

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Divers
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

